<div class="jumbotron">
    <h2>OAuth2 demo</h2>

    <p>This site is a tech demo for claims based authentication using OAuth2 Implicit grant flow.</p>

    <p>The id server is built out of Thinktecture's IdentityServer3 library granting access to the resource owner using web api v2. The consumer of those resources is this site, a javascript spa client.</p>

    <p>For detailed info please refer to the docs.</p>
    <p>
        <a class="btn btn-lg btn-primary" href="https://github.com/IdentityServer/IdentityServer3" target="blank" role="button">IdentityServer3 Docs &raquo;</a>
    </p>
</div>