<div class="jumbotron">
    <h3>OAuth2 demo</h3>

    <p>This site is a proof of concept for claims based authentication using OAuth2's Implicit grant flow.</p>

    <p>The id server is built out of IdentityServer3 granting access to the resource server on behalf of the client's user. The client itself (this page) is a javascript spa app.</p>

    <p>Details on IdentityServer3 visit the docs.</p>
    <p>
        <a class="btn btn-lg btn-primary width275" href="https://github.com/IdentityServer/IdentityServer3" target="blank" role="button">IdentityServer3 Docs &raquo;</a>
    </p>

    <p>Second most important part of the app is the js token manager.</p>

    <p>
        <a class="btn btn-lg btn-primary width275" href="https://github.com/IdentityModel/oidc-token-manager" target="blank" role="button">Js Token manager &raquo;</a>
    </p>
</div>