<!DOCTYPE html>
<html lang="en" ng-app="securedApi">
<head>
    <meta charset="utf-8" />
    <title>OAuth2 demo</title>
    <base href="@Request.Url.BasePath/" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Content/Components/bootstrap-material-design/dist/css/roboto.min.css" rel="stylesheet" />
    <link href="~/Content/Components/bootstrap-material-design/dist/css/material.min.css" rel="stylesheet" />
    <link href="~/Content/Components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet"/>

</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">Secured api demo</div>
            </div>
            <div id="navbar" class="collapse navbar-collapse" ng-controller='navigationController as vm'>
                <ul class="nav navbar-nav">
                    <li ng-class="{active:vm.isActive('/')}"><a href="#/">Home</a></li>
                    <li ng-class="{active:vm.isActive('/movies')}"><a href="#movies">Movies</a></li>
                    <li ng-class="{active:vm.isActive('/books')}"><a href="#books">Books</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-controller="loginController as vm">
                    <li><a ng-click="vm.test()" href>Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" ng-view></div>

    <script src="~/Content/Components/jquery/dist/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="~/Content/Components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="~/Content/Components/bootstrap-material-design/dist/js/material.min.js"></script>

    <script src="~/Content/Components/angular/angular.min.js"></script>
    <script src="~/Content/Components/angular-route/angular-route.min.js"></script>
    <script src="~/Content/Components/angular-resource/angular-resource.min.js"></script>

    <script src="~/app/app.js"></script>
    <script src="~/app/common/common.services.js"></script>
    <script src="~/app/common/itemResource.js"></script>

    <script src="~/app/controllers/navigationController.js"></script>
    <script src="~/app/controllers/moviesController.js"></script>
    <script src="~/app/controllers/booksController.js"></script>
    <script src="~/app/controllers/loginController.js"></script>

<script>
        $(document).ready(function () {
            // This command is used to initialize some elements and make them work properly
            $.material.init();
        });
    </script>
</body>
</html>
